.signup-container {
  width: 100vw;
  height: 100vh;
  background: #fff;
  margin: 0;
  padding: 0;
  position: relative;
}

.signup-bg-img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.signup-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}

/* left */
.signup-left {
  display: hidden;
  position: relative;
  background: #27a2db;
  height: auto;
}

.left-img {
  position: absolute;
  top: 45%;
  left: 1rem;
  width: 90%;
  object-fit: cover;
}

/* right */
.signup-right {
  width: 100%;
  height: auto;
  padding-top: 7rem;
  padding-bottom: 2.5rem;
  background: #27a2db;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-logo {
  display: inline-block;
  object-fit: cover;
  position: absolute;
  width: 65%;
  top: 2.5rem;
  left: 3rem;
  display: flex;
}

.signup-right-container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: #6b7280;
  --tw-shadow: var(--tw-shadow-colored);
  height: 80%;
  width: 80%;
}

.signup-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
  gap: 1.25rem;
  max-width: 300px;
}

.text-welcome {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-signup {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin: 1rem 0;
}

/* form */
.form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.form-item-title {
    font-weight: 600;
}

.form-input {
  padding: 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.form-err {
    color: red;
    font-size: small;
}

@media (min-width: 768px) {
  .form-input {
    margin: 0px;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;
}

.signup-btn {
  cursor: pointer;
  background: #27a2db !important;
  width: 100%;
  color: #fff;
  margin: 1.25rem 0;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
}

.signup-btn:hover {
  background: rgb(29 78 216);
}

.signup-text-msg {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.login-link {
  text-decoration: underline;
  color: rgb(59 130 246);
}

@media (min-width: 425px) {
  .right-logo {
    left: 4rem;
  }
}

@media (min-width: 640px) {
  .signup-right {
    padding: 2.25rem 0;
    background: #d9d9d9;
  }

  .right-logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .signup-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .signup-form {
    gap: 0.75rem;
  }

  .signup-left {
    display: block;
    width: 40%;
    height: 80%;
  }

  .signup-right {
    width: 60%;
    height: 80%;
  }

  .text-welcome {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .signup-btn {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }

  .signup-text-msg {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .signup-wrapper {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .signup-right {
    padding: 0;
  }

  .signup-right-container {
    width: 60%;
  }
}
