.chat-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 1rem;
    background-color: #eaf6fc;
  }
  
  .chat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #eaf6fc;
    overflow-y: scroll;
  }
  
  .message {
    margin-bottom: 2rem;
    min-width: 10%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative; 
  }
  
  .message-time {
    font-size: 0.8rem;
    margin-top: auto;
    color: #888;
    position: absolute;
    bottom: -20px; 
    right: 0; 
    
  }
  
  
  .sender {
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.1);;
  }
  
  

  
  .message-text {
    margin-bottom: 0.2rem;
  }
  
  
  .message-time {
  font-size: 0.8rem;
  margin-top: auto;
  color: #888;
}

.chat-form {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.chat-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 0.5px solid #27A2DB;
  border-radius: 10px;
  outline: none;
  
}

.chat-button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chat-button:hover {
  background-color: #0056b3;
}
