.container {
  width:95%;
  margin: 0px auto 150px auto;
  font-family: 'Open Sans';
}

/* Main Container */
.main-container {
  text-align: center;
  width: 100vh;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headline {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.3rem;
}

.blue-container {
  background: rgba(39, 162, 219, 0.1);
  border-radius: 1rem;
  padding: 3rem 3rem 3rem 3rem;
  border: 1px solid #000;
  /* width: 90%; */
  margin: 0 auto;
}

.icon {
  width: 100%;
  font-size: 3rem;
  margin-top: 1rem;
}

.white-box {
  width:50%;
  background: #fff;
  padding: 1rem 0;
  margin-bottom:50px;
  border-radius: 0.3rem;

  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:0 auto;
}

.inner-text {
  margin: 1rem 0 2rem 0;
  width: 100%;
}

.key {
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.btnWrapper{
  margin-top:50px;
}

.btn-copy {
  background: #fff;
  padding: 0.6rem 2rem;
  border-radius: 0.3rem;
  font-weight: 600;
  border: 2px solid rgba(39, 162, 219);
  color: rgba(39, 162, 219);

  margin-right:20px;
}





/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .header-left {
    width: 300px;
  }

  .check {
    margin-right: 1rem;
  }
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .topHeaderWrapper {
    justify-content: center;
  }

  .header-right {
    display: none;
  }

  .headline {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
  }

  .blue-container {
    padding: 1rem 1rem 0 1rem;
  }

  .icon {
    font-size: 2rem;
  }
}

/* Media query for screens smaller than 375px */
@media (max-width: 375px) {
  .headline {
    margin-bottom: 0.5rem;
  }
  .key {
    letter-spacing: normal;
  }
  .footer-text {
    font-size: 0.6rem;
  }
}
