.confirmation-container {
  width: 95%;
  margin: 0px auto 150px auto;
  font-family: 'Open Sans';
}

.confirmation-main-container {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.confirmation-wrapper {
  width: 100%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.confirmation-headline {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.confirmation-message {
  font-size: 1.3rem;
}

.confirmation-blue-container {
  background: rgba(39, 162, 219, 0.1);
  border-radius: 1rem;
  padding: 3rem;
  margin: 0 auto;
}

.confirmation-icon {
  width: 100%;
  font-size: 3rem;
  margin-top: 1rem;
}

.confirmation-white-box {
  width: 90%;
  background: #fff;
  padding: 1rem 0;
  border-radius: 0.3rem;
  margin:30px auto;
}

.confirmation-inner-text {
  margin: 1rem 0 2rem 0;
  width: 100%;
}

.confirmation-key {
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.confirmation-button-wrapper {
  margin-top: 50px;
}

.confirmation-copy-button {
  background: #fff;
  padding: 0.6rem 2rem;
  border-radius: 0.3rem;
  font-weight: 600;
  border: 2px solid rgba(39, 162, 219);
  color: rgba(39, 162, 219);
  margin-right: 20px;
}

.confirmation-check-report-button {
  background: #fff;
  padding: 0.6rem 2rem;
  border-radius: 0.3rem;
  font-weight: 600;
  border: 2px solid rgba(39, 162, 219);
  color: rgba(39, 162, 219);
}

/* Media query for screens smaller than 1100px */
@media (max-width: 576px) {
  .confirmation-main-container {
    width: 100%;
  }

  .confirmation-blue-container {
    background: rgba(39, 162, 219, 0.1);
    border-radius: 1rem;
    padding: 30px 0px;
    border: 1px solid #000;
    margin: 0 auto;
  }

  .confirmation-white-box {
    width: 90%;
    background: #fff;
    padding: 1rem 0;
    margin-bottom: 50px;
    border-radius: 0.3rem;
    
    margin:30px auto;
  }

  .confirmation-button-wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .confirmation-copy-button {
    width: 50%;
    background: #fff;
    padding: 0.6rem 2rem;
    border-radius: 0.3rem;
    font-weight: 600;
    border: 2px solid rgba(39, 162, 219);
    color: rgba(39, 162, 219);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .confirmation-check-report-button {
    width: 50%;
    background: #fff;
    padding: 0.6rem 2rem;
    border-radius: 0.3rem;
    font-weight: 600;
    border: 2px solid rgba(39, 162, 219);
    color: rgba(39, 162, 219);
    margin: 0 auto;
  }
}
