.topHeaderWrapper{
    width:100%;
    height:auto;

    display:flex;
    margin:0 auto;
    transition: width 0.5s;
}

.topHeaderSpeakTruthLogoWrapper{
    width:40%;
    height:auto;
    background-color: white;
}
.topHeaderSpeakTruthFullLogo{
    width:350px;
    height:auto;
    transition: width 0.5s;
    padding:20px 0px;
}

.topHeaderSpeakTruthLogo{
    width:100px;
    height:auto;
    padding:10px;
}

.topHeaderlinks{
    width:60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.topHeader_link:not(:last-child){
    width:auto;
    height:auto;
    color:black;

    margin-right:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
}

.topHeader_link:last-child{
    color:white;
    padding:10px 35px;

    border-radius: 5px;
    background-color: #27A2DB;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
}





/* Media query for screens smaller than 1100px */
@media (max-width: 1024px) {
    .topHeaderlinks{
        display:none;
    }
}

