.adminReportDashboard {
  width: 95%;
  height: 100%;
  font-family: Arial, sans-serif;
  margin:0 auto;
}

.adminReportDashboard-main-container{
  margin-top:50px;
}

.adminReportDashboard-main-wrapper-table {
  position: relative;
  overflow-x: auto; /* added overflow-x auto here */
}
.adminReportDashboard-main-wrapper-table table {
  table-layout: fixed;
  width: 150px;
}

.adminReportDashboard table {
  width: 100%;
  margin-bottom: 2rem;
  border-spacing: 0;
}

.adminReportDashboard th,
.adminReportDashboard td {
  text-align: left;
  padding: 24px;
}
/* To make sure the text does not overflow */
.adminReportDashboard-main-wrapper-table td,
.adminReportDashboard-main-wrapper-table th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.adminReportDashboard thead tr {
  background-color: rgba(217, 217, 217, 0.5);;
}

.adminReportDashboard tbody tr:nth-child(odd) {
  background-color: #ffff;
}

.adminReportDashboard tbody tr:nth-child(even) {
  background-color: rgba(217, 217, 217, 0.5);;
}

.adminReportDashboard-btn {
  background-color: #007BFF;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.adminReportDashboard-btn:hover {
  background-color: #0056b3;
}

.adminReportDashboard-btn-arrow:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.adminReportDashboard-page-text {
  display: inline-block;
  margin-right: 1rem;
}

.adminReportDashboard-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}





.dropdown {
  position: relative;
  width:100%;
  margin-bottom:15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdownButton {
  width:auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #718096;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
}
.dropdownButtonImage{
  width:10px;
  margin-left:10px;
}
.sortImage{
  width:10px;
}

.dropdownMenu {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 #1a202c;
  border-radius: 0.375rem;
  width: 12rem;
  z-index: 10;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.dropdownInput {
  width: 1rem;
  height: 1rem;
  background-color: #edf2f7;
  border-color: #e2e8f0;
}

.dropdownLabel {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #2d3748;
}


.pagination{
  display:flex;
  justify-content: center;
  align-content: center;

  margin:50px 0px 100px 0px;
}

.pagination a{
  font-size: 16px;
  padding:10px 30px;
  border-left: 1px solid #D9D9D9;
}

.pagination a.active{
  font-size: 16px;
  font-weight: 800;
  color:#27A2DB;
}

.pagination a:last-of-type{
  padding:10px 30px;
  border-right: 1px solid #D9D9D9;
}