.admin-report-container {
  /* min-width: 100vw;
  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}



.header-left {
  width: 350px;
  height: auto;
  transition: width 0.5s;
  padding: 20px 0;
}

.logo {
  height: auto;
  width: 100%;
  padding: 10px;
}

.btn {
  border: 1px solid rgba(39, 162, 219);
  padding: 0.4rem 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  cursor: pointer;
}

.overview {
  color: #fff;
  background-color: rgba(39, 162, 219);
}

.btn-report {
  margin-left: 3rem;
  color: rgba(39, 162, 219);
  background: #fff;
}

.admin-report-mainadmin-report--container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

/* side-bar */
.side-bar {
  width: 150px;
  font-weight: 600;
  /* padding-right: 2rem; */
  border-right: 2px solid rgb(217, 217, 217);
  box-sizing: border-box;
}

.bar-item {
  margin-bottom: 1rem;
  padding: 0.2rem 0 0.2rem 1rem;
}

.pointer {
  color: rgba(39, 162, 219);
  background: rgba(39, 162, 219, 0.1);
  border-left: 2px solid rgba(39, 162, 219);
}

/* mainadmin-report--container */
.main-wrapper-table {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin: 5rem auto;
  width: 80%;
}

/* table */
table {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  overflow-y: auto;
  overflow-x: auto;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

thead {
  overflow-y: auto;
  overflow-x: auto;
}

tbody {
  overflow-y: scroll;
  overflow-x: scroll;
  /* height: 400px;
  width: 400px; */
}

th,
td {
  padding: 0.5rem 1rem;
}

th {
  background: rgba(217, 217, 217, 0.5);
}

tr:nth-child(even) {
  background: rgba(217, 217, 217, 0.5);
}

tr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sort {
  color: gray;
  text-decoration: underline;
}

/* pagination */
.pagination {
  margin: 0 auto;
  margin-bottom: 3rem;
}

.btn-arrow {
  margin: 0 .3rem;
  cursor: pointer;
  color: rgba(39, 162, 219);

  background: #fff;
  border: 1px solid rgba(39, 162, 219);
}

.page-text {
  margin: 0 .8rem;
}

/* Footer */
.footer {
  background: rgba(39, 162, 219, 0.1);
  width: 100%;
}

.footer-text {
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
}

@media (max-width: 425px) {
  
  .header-right {
    display: none;
  }

  .side-bar {
    display: none;
  }

  .inner-wrapper {
    width: 250px;
  }

  .admin-report-mainadmin-report--container {
    padding: 0 1rem;
  }

  .main-wrapper-table {
    gap: 3rem;
  }

  .right {
    gap: 3rem;
  }
}
/*
@media (max-width: 640px) {
} */

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .header-left {
    width: 300px;
  }

  .btn-report {
    margin-left: 1rem;
  }

  /* .admin-report-mainadmin-report--container {
    padding: 1rem 3rem;
  } */

  .main-wrapper-table {
    justify-content: center;
  }
}
