.adminOverViewDashboard {
  /* width: 100%;
  min-height: 100vh; */
  width: 95%;
  margin:0px auto;
  
}

.adminOverViewDashboard-main-container{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  margin:100px auto;
}

.adminOverViewDashboard-monthly-reports-wrapper{
  width:50%;
  background: #fff;
  box-shadow: 0 0 5px 5px rgba(217, 217, 217, 0.3) inset;
  padding:10px;
}

.adminOverViewDashboard-details{
  width:50%;
  height:100%;
  padding:10px;
}


.adminOverViewDashboard-details-department, .adminOverViewDashboard-details-category{
  background: #fff;
  box-shadow: 0 0 5px 5px rgba(217, 217, 217, 0.3) inset;
  margin:20px;
  padding:15px;
  height:100%;
}
.adminOverViewDashboard-item {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  border-bottom: 3px solid rgba(39, 162, 219, 0.1);
}





.adminOverViewDashboard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .adminOverViewDashboard-main-container{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    margin:50px auto;
  }

  .adminOverViewDashboard-monthly-reports-wrapper{
    width:90%;
    background: #fff;
    box-shadow: 0 0 5px 5px rgba(217, 217, 217, 0.3) inset;
  }

  .adminOverViewDashboard-details{
    width:90%;
    height:100%;
    margin: 10px auto;
    padding:10px;
  }

  .adminOverViewDashboard-details-department, .adminOverViewDashboard-details-category{
    background: #fff;
    box-shadow: 0 0 5px 5px rgba(217, 217, 217, 0.3) inset;
    height:100%;
    margin:40px -10px;
    padding:10px;

  }
  
  
  

 
}




/* 



.adminOverViewDashboard-main-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7rem;
  margin: 0 auto;
  margin-bottom: 2rem;

}

.adminOverViewDashboard-inner-wrapper {
  background: #fff;
  box-shadow: 0 0 5px 5px rgba(217, 217, 217, 0.3) inset;
  padding: 0.5rem 3rem;
  margin: 5px;
  width: 400px;
}

.adminOverViewDashboard-right {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.adminOverViewDashboard-bold {
  font-weight: 600;
  font-size: 1.5rem;
}



.adminOverViewDashboard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .adminOverViewDashboard-header-left {
    width: 300px;
  }

  .adminOverViewDashboard-btn-report {
    margin-left: 1rem;
  }

  .adminOverViewDashboard-main-container {
    padding: 1rem 3rem;
  }

  .adminOverViewDashboard-main-wrapper {
    justify-content: center;
  }
} */
