.userReport {
    width:95%;
    margin:0 auto;
    font-family: 'Open Sans';
}

.userReport-report {
    width:95%;
    margin:50px auto;
}

.userReport-extensionIcon {
    width:48px;
    height:auto;
}

.userReport-reportID {
    width:100%;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
    margin-bottom:50px;
}

.userReport-reportDetailsWrapper {
    width:100%;
    margin-bottom:100px;
}

.userReport-reportDetailsWrapper hr {
    width:100%;
    border: 1px solid #D9D9D9;
}

.userReport-reportDetails {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:50px 0px;
}

.userReport-reportSection {
    margin-bottom:30px;
}

.userReport-reportSectionName {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom:10px;
}

.userReport-reportSection span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.userReport-reportDescription {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom:50px;
}

.userReport-reportFileLists {
    margin-top:20px;
}

.userReport-reportFileList {
    width:300px;
    height:auto;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding:5px;
    margin-bottom:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.userReport-reportFileList a {
    width:auto;
    height:auto;
    cursor: pointer;
}

.userReport-reportChatHeader h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 22px;
    margin:50px 0px;
}

.userReport-reportChatWrapper hr {
    width:100%;
    border: 1px solid #D9D9D9;
}

/* Media query for screens smaller than 1100px */
@media (max-width: 768px) {
    .userReport-report {
        width:95%;
        margin:100px auto;
    }


.userReport-reportID {
    font-size: 23px;
    margin-bottom:50px;
    text-align: center;
}

    .userReport-reportDetails {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin:50px 0px;
        text-align: center;
    }
    .userReport-reportChatHeader h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 22px;
        margin:50px 0px;
    }
    
}
